[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=21.3.0"
httpx = ">=0.15.4,<0.24.0"
pdf2image = "*"
pillow = "*"
python-dateutil = "~=2.8.1"
typing-extensions = "*"

[dev-packages]
black = "*"
build = "*"
isort = "~=5.0.5"
openapi-python-client = "==0.11.6"
twine = "*"

[requires]
python_version = "3.8"
